themes {
    nvim {
        fg "#c0caf5"
        bg "#000000"
        magenta "#e0af68"
        white "#a9b1d6"
        black "#15161e"
        yellow "#e0af68"
        orange "#7dcfff"
        green "#bb9af7"
        red "#f7768e"
        cyan "#9ece6a"
        blue "#7aa2f7"
    }
}